*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* BODY */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(50,30,10,0.6),rgba(50,30,10,0)), url('../img/image.jpg');
    background-size: cover;
    background-position: center;
}


/* HEADER */


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 4em;
    color: #cecece;
    user-select: none;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 20);
}

.navigation a {
    position: relative;
    left: 280px;
    font-size: 1.1em;
    color: #cecece;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #cecece;
    border-radius: 5x;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

/*BUTTON FOR LOGIN & SIGNUP*/

.button .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #cecece;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #cecece;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.button .btnLogin-popup:hover {
    background: #cecece;
    color: #341f13ef;
}

.button .btnSignup-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #cecece;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #cecece;
    font-weight: 500;
    margin-left: 10px;
    transition: .5s;
}

.button .btnSignup-popup:hover {
    background: #cecece;
    color: #341f13ef;
}


/*WELCOME*/


.welcome-title {
    position: absolute;
    left: 150px;
    align-content: space-between;
    text-align: left;
    line-height: 1.3;
    font-size: 3em;
    color: #cecece;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 20);
}


/*  LOGIN  */

.login-title {
    position: absolute;
    top: 120px;
    font-size: 1.6em;
    text-align: center;
    color: #cecece;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 20);
}


.wrapper-login {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(194, 186, 181, 1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 50px 50px 50px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /*  overflow: hidden;*/
    /*  transform: scale(0);*/
    /*  transition: transform .5s ease, height .2s ease;*/
}




.wrapper-login .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper-login .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}



/*  REGISTER  */

.register-title {
    position: absolute;
    top: 120px;
    font-size: 1.6em;
    text-align: center;
    color: #cecece;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 20);
}


.wrapper-register  {
    position: relative;
    width: 400px;
    height: 480px;
    background: transparent;
    border: 2px solid rgba(194, 186, 181, 1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 50px 50px 50px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /*    overflow: hidden;*/
}

.wrapper-register .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper-register .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(0);
}




/* LEOGIN & REGISTER BOX */

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #341f13ef;
    font-size: 1.9em;
    color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #341f13ef;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #341f13ef;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.3em;
    color: #341f13ef;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 120%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.3em;
    color: #341f13ef;
    font-weight: 540;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.4em;
    color: #341f13ef;
    line-height: 57px;
}

.remember-forgot {
    font-size: 1em;
    color: #341f13ef;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #341f13ef;
    margin-right: 3px;
}

.remember-forgot a {
    color: #341f13ef;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #341f13ef;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #cecece;
    font-weight: 500;
}

.login-register {
    font-size: 1em;
    color: #341f13ef;
    text-align: center;
    font-weight: 500;
    margin: 25px 0px 10px;
}
.login-register p a {
    color: #341f13ef;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


