<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--MAIN PAGE, LOGIN AND SIGN UP PAGE HEADER-->

    <div th:fragment="header">
        <header>
            <h2 class="logo">P</h2>
            <nav class="navigation">
                <a href="/paypalclone">Home</a>
                <a href="/paypalclone">About</a>
                <a href="/paypalclone">Services</a>
                <a href="/paypalclone">Contact</a>
                <a href="/paypalclone" class="help">Help</a>
            </nav>
            <div class="button">
                <a href="/paypalclone/login" class="login-link">
                    <button class="btnLogin-popup">Login</button>
                </a>
                <a href="/paypalclone/register" class="register-link">
                    <button class="btnSignup-popup">Sign Up</button>
                </a>
            </div>
        </header>
    </div>

    <!--ACCOUNT HEADER-->

    <div th:fragment="account_header">
        <div class="paypalAccount_header">
            <h2 class="logo_acc">P</h2>
            <nav class="account_navigation">
                <a href="/paypalclone/my_account">Home</a>
                <a href="/paypalclone/my_account">Finances</a>
                <a href="/paypalclone/send_money">Send</a>
                <a href="/paypalclone/request_money">Request</a>
                <a href="/paypalclone/my_account">Wallet</a>
                <a href="/paypalclone/my_account">Activity</a>
                <a href="/paypalclone/my_account">Help</a>
            </nav>
            <a href="/paypalclone/profile_setting_page" class="icon">
                <span class="settings_icon"><i class="fa-solid fa-gear"></i></span>
            </a>
            <a href="/paypalclone/my_account" class="icon">
                <span class="notifications_icon"><i class="fa-solid fa-bell"></i></span>
            </a>
            <a href="/paypalclone" class="icon">
                <span class="logout_icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
            </a>
        </div>

    </div>

    <-- HEADER FOR SEND & REQUEST PAGE -->

    <div th:fragment="send_request_menu">
        <div class="send_request_header">
            <nav class="send_request_navigation">
                <a class="menu_header" href="/paypalclone/send_money">Send</a>
                <a class="menu_header" href="/paypalclone/request_money">Request</a>
                <a class="menu_header" href="/paypalclone/contact_list">Contacts</a>
                <a class="menu_header" href="#">More</a>
            </nav>
        </div>
    </div>

    <!--ALL PAGES FOOTER-->

    <div th:fragment="footer">
        <footer>
            <h2 class="logo_foot">Paypal Clone</h2>
            <nav class="footer_nav">
                <a href="/paypalclone/help">Help</a>
                <a href="#">Contact Us</a>
                <a href="#">Security</a>
                <a href="#">Fees</a>
            </nav>
            <span class="webName">&copy; 1990-2023 PayPal Clone, No rights reserved</span>
        </footer>
    </div>
</body>
</html>