<!DOCTYPE html>
<html xmlns:th="http:/>/www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal Clone: Summary</title>
    <link rel="stylesheet" href="css/style-account.css">
    <script src="https://kit.fontawesome.com/49d89cdd8b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{fragments :: account_header}"></div>
    <div th:replace="~{fragments :: footer}"></div>

<!--Summary Main Sections-->

    <div class="main_elements">
        <div class="balance">
            <h2>PayPal Clone Balance</h2>
            <h2>$0.00</h2>
            <p>Available</p>
            <button class="btnTransferMoney">Transfer Money</button>
        </div>
        <div class="rewards">
            <h2>PayPal Clone Rewards</h2>
            <h2>0 points</h2>
            <p>($0.00 redemption value)</p>
        </div>
    </div>
<!--Summary Main Buttons-->

    <div class="button">
        <a href="/paypalclone/send_money" class="sendMoney-link">
            <button class="btnSend">Send</button>
        </a>
        <a href="/paypalclone/request_money" class="requestMoney-link">
            <button class="btnRequest">Request</button>
        </a>
    </div>

<!--Summary Main Icons Menu-->

    <div class="summary_menu_icon">
        <a href="#" class="menu_link">

            <span class="menu_icon"><i class="fa-solid fa-paper-plane"></i></span>
            <p class="menu_list">Direct To Bank</p>

        </a>
        <a href="#" class="menu_link">

            <span class="menu_icon"><i class="fa-solid fa-building-columns"></i></span>
            <p class="menu_list">Add card or bank</p>

        </a>
        <a href="#" class="menu_link">

            <span class="menu_icon"><i class="fa-solid fa-file-invoice"></i></span>
            <p class="menu_list">Create an invoice</p>

        </a>
        <a href="#" class="menu_link">

            <span class="menu_icon"><i class="fa-solid fa-trophy"></i></span>
            <p class="menu_list">PayPal Clone Rewards</p>

        </a>
        <a href="#" class="menu_link">

            <span class="menu_icon"><i class="fa-solid fa-ellipsis-vertical"></i></span>
            <p class="menu_list"></p>

        </a>
    </div>


</body>
</html>